---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { Debug } from 'astro/components';

import '../styles/reset.css';
import '../styles/styles.css';

import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---
<!DOCTYPE html>
<html lang="en">
<Head />
<body class="home">
  <Nav />
  <header>
    <h1>Hi, I&rsquo;m Gary.</h1>
    <h2 class="text--purple-gradient">UI/UX Designer &amp; Developer.</h2>
  </header>

  <main>
    <ul class="cards">
    <!-- <Debug {projects} /> -->
   
      {projects.map((project) => (
        <li class="card">
          <img src=`../../../img/${project.data.img}` class="card__image" alt="">
          <a href=`projects/${project.slug}` class="card__link"><span class="card__title">{project.data.project}</span></a>
          <div class="tags">
            <span class="tag tag--design">design</span>
            <span class="tag tag--prototyping">prototyping</span>
          </div>
        </li>
      ))}
      {/* <li class="card">
        <img src="img/zcobbar.png" class="card__image" alt="">
        <a href="projects/zcobbar" class="card__link"><span class="card__title">ZCoBbar</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/sparkle-pickle-home.png" class="card__image" alt="">
        <a href="projects/sparkle-pickle" class="card__link"><span class="card__title">Sparkle Pickle</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/bh-book.png" class="card__image" alt="">
        <a href="projects/bakehouse-book" class="card__link"><span class="card__title">Zingerman&rsquo;s Bakehouse Book</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/parm.png" class="card__image" alt="">
        <a href="projects/parm" class="card__link"><span class="card__title">Zingerman&rsquo;s Parm Project</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/deli.png" class="card__image" alt="">
        <a href="projects/deli" class="card__link"><span class="card__title">Zingerman&rsquo;s Deli Homepage</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/family-calendar.png" class="card__image" alt="">
        <a href="projects/family-calendar" class="card__link"><span class="card__title">Family Calendar</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/appel.png" class="card__image" alt="">
        <a href="projects/appel-environmental" class="card__link"><span class="card__title">Mike Appel Environmental Design</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/glass-city.jpg" class="card__image" alt="">
        <a href="projects/glass-city" class="card__link"><span class="card__title">Glass City Film Fest</span></a>
        <div class="tags">
          <span class="tag tag--design">print</span>
          <span class="tag tag--design">branding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/land-loom.png" class="card__image" alt="">
        <a href="projects/land-loom" class="card__link"><span class="card__title">The Land Loom</span></a>
        <div class="tags">
          <span class="tag tag--design">design</span>
          <span class="tag tag--coding">coding</span>
        </div>
      </li>
      <li class="card">
        <img src="img/ovl.png" class="card__image" alt="">
        <a href="projects/ohio-voices" class="card__link"><span class="card__title">Ohio Voices for Learning</span></a>
        <div class="tags">
          <span class="tag tag--design">branding</span>
        </div>
      </li> */}
    </ul>
  </main>
  <Footer />
</body>

</html>
