---

---
<nav>
  <a href="/">Gary Mazzeo</a>
  <div class="links">
    <a href="https://www.linkedin.com/in/gary-mazzeo/">LinkedIn</a>
    <a href="https://github.com/garymazzeo">GitHub</a>
  </div>
</nav>
